* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
}

.main {

    &__top {
        height: 100vh;
        background-image: url(./img/top1.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &__content {
            display: flex;
            flex-direction: column;
            gap: 32px;
            padding-top: 217px;
        }
    }

    &__heading {
        max-width: 788px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
    }

    &__text {
        max-width: 481px;
        color: #FFFFFF;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
    }

    &__button {
        color: #FFFFFF;
        background: #9C0332;
        border-radius: 30px;
        width: 234px;
        height: 48px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-top: 13px;
        transition: all .3s;
        text-align: center;
        padding-top: 12px;
        box-sizing: border-box;

        &:hover {
            transform: scale(1.1);
            background: #EB443F;
            color: #FFFFFF;
        }
    }

    &__bot {
        background-image: url(./img/top2.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 556px;
        padding-top: 128px;
        padding-bottom: 128px;

        &__content {
            display: flex;
            justify-content: center;
            gap: 32px;
        }

        &__game {
            color: #FFFFFF;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            width: 379px;
            height: 300px;
            display: flex;
            align-items: flex-end;
            padding-left: 32px;
            padding-bottom: 32px;
            border-radius: 16px;
            transition: all 0.3s;

            &:hover {
                border: 3px solid #44D2FF
            }

            &_text {
                text-decoration: none;
                color: #FFFFFF;
                transition: 0.3s;

                &:hover {
                    text-decoration: underline;
                    transform: scale(1.1);
                }
            }

        }
    }

    &__game1 {
        background-image: url(./img/gamesback.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 234px;
        padding-bottom: 234px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;

        &__left {
            grid-column: span 6;
            display: flex;
            flex-direction: column;
            gap: 32px;
        }

        &__right {
            grid-column: 8/13;
        }

        &__heading {
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 59px;
            color: #FFFFFF;
        }

        &__text {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
            color: #FFFFFF;
        }

        &__button {
            color: #FFFFFF;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            background: #9C0332;
            border-radius: 30px;
            width: 234px;
            height: 50px;
            padding-top: 14px;
            padding-bottom: 14px;
            box-sizing: border-box;
            text-align: center;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.1);
                background: #EB443F;
                color: #FFFFFF;
            }
        }
    }

    &__game2 {
        background-image: url(./img/gamesback.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 234px;
        padding-bottom: 234px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 135px;

        &__right {

            display: flex;
            flex-direction: column;
            gap: 32px;
        }

        &__heading {
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 59px;
            color: #FFFFFF;
        }

        &__text {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
            color: #FFFFFF;
            max-width: 588px;
        }

        &__button {
            color: #FFFFFF;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            background: #9C0332;
            border-radius: 30px;
            width: 234px;
            height: 50px;
            padding-top: 14px;
            padding-bottom: 14px;
            box-sizing: border-box;
            text-align: center;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.1);
                background: #EB443F;
                color: #FFFFFF;
            }
        }
    }

    &__game3 {
        background-image: url(./img/game_3.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 276px;
        padding-bottom: 288px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 135px;

        &__mid {

            display: flex;
            flex-direction: column;
            gap: 32px;
            align-items: center;
        }

        &__heading {
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 59px;
            color: #FFFFFF;
            max-width: 392px;
            text-align: center;
        }

        &__text {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
            color: #FFFFFF;
            max-width: 1200px;
            text-align: center;
        }

        &__button {
            color: #FFFFFF;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            background: #9C0332;
            border-radius: 30px;
            width: 234px;
            height: 50px;
            padding-top: 14px;
            padding-bottom: 14px;
            box-sizing: border-box;
            text-align: center;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.1);
                background: #EB443F;
                color: #FFFFFF;
            }
        }

    }

    &__footer {
        background-image: url(./img/footer.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;

        &__text {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            color: #FFFFFF;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.game1_img {
    max-width: 485px;
}

.game2_img {

    max-width: 485px;

}


.game_1 {
    background-image: url(./img/game1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.game_2 {
    background-image: url(./img/game2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.game_3 {
    background-image: url(./img/game3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@import'mobile';